<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light mb-5">
      <a class="navbar-brand">MesPtitsArticles</a>
      <%= link_to 'Create New', articles_new_path %>
    </nav>
    <div class="container">
      <%= yield %>
    </div>

  <script src="https://kit.fontawesome.com/ae46c9edb9.js" crossorigin="anonymous"></script>
  </body>
</html>
